<!-- <form action="/forgot-password/mail" method="POST">
  <label>Please enter the email to reset password</label>
  <input type="text" name="mail" placeholder="Email" required />
  <input type="submit" value="submit" />
</form> -->
<div class="reset-container">
  <div class="form-container reset-form-container">
    <form action="/forgot-password/mail" method="POST">
      <h2>Reset Password</h2>

      <span>Please enter the email to reset password</span>
      <input type="text" name="email" placeholder="Email" required />
      <button type="submit" value="submit">Reset</button>
    </form>
  </div>
</div>
