<p>
  Hi, <%= user.name %> <br />
  Your password has been changed for Authentication App. <br />
  if this action was not performed by you,Please secure your account by clicking
  on Secure your account below <br />
  <br />
  <!-- <center> <a href = "https://authsys.live/reset-password" > <b> Secure Your Account </b></a> </center> -->
  <center>
    <a href="http://localhost:8000/forgot-password">
      <b> Secure Your Account </b></a
    >
  </center>
</p>
<p>
  Kindly ignore this mail, if it was you. <br />
  Thankyou.
</p>
