<div>
  <p>HI <%=user.name%></p>
  <br />
  <br />
  <p>
    Please click on the link on the below to reset the password for the
    Authentication App
  </p>
  <a
    href="http://localhost:8000/forgot-password/resetlink/accesstoken/<%=accesstoken%>"
  >
    http://localhost:8000/forgot-password/resetlink/accesstoken/<%=accesstoken%>
  </a>
</div>
